<?xml version="1.0" encoding="UTF-8" ?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <tr class="headers">
        <wicket:container wicket:id="headers">
            <th wicket:id="header">
                <div>
                    <strong wicket:id="label">[header-label]</strong>
                    <div class="instructionPanel" wicket:id="instructionPanel"></div>
				</div>
            </th>
        </wicket:container>
    </tr>
	<wicket:fragment wicket:id="tooltip-fragment">
		<span wicket:id="content">[content]</span>
	</wicket:fragment>
</wicket:panel>
